%h1 Tic Tac Toe games
%ul
  -if @games.count >  0
    -@games.each do |game|
      %li
        %a{ :href => game_path(game.id) }
          = "Game #{game.id}: #{game.win? ? 'won' : 'still going' }"
  -else
    %p No games yet!
%a{ href: '/new_game' } New Game